/*Header de Detalle del Producto*/
.Cuenta2{
    display: flex;
    float: right;
   text-align: center;
    border: solid 1px;
    background-color: var(--gris-oscuro);
    color: white;
    padding: 2px;
    width: 40%;
    justify-content: center;
}
.Cuenta2 i{
    color: black;
}
.logo2 img{
    width: 30%;
    margin: 5px;
}
.conteiner2{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: flex-end;
    padding-bottom: 0;
    position: absolute;
    top: 0;
}
.banner2 img{
    width: 70%;
    height: 70%;
    padding-left: 25%;
    mix-blend-mode: multiply;
}
.barra-de-búsqueda2{
    border: solid 1px;
    padding: 5px;
    width: 65%;
    height: 26px;
    position: absolute;
    top: 78%;
    left: 32%;
}
.barra-de-búsqueda2 input{
    border: solid 1px black;
    height: 25px;
    background-color: var(--gris-claro);
    width: 80%;
}
.barra-de-búsqueda2 ::placeholder{
    color: black;
    padding-left: 5px;
}
.barra-de-búsqueda2 .fa-search{
    position: absolute;
    left: 70%;
    margin-top: 3px;
    background-color: cadetblue;
    color: white;
    padding: 1px;
}
.barra-de-búsqueda2 .fa-shopping-cart{
    color: black;
    display:flex;
    float: right;
    padding: 5px;
}
.menu2{
background-color: var(--lila);
height: 35px;
position: relative;
bottom: 9px;
}
.menu2 ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 8px;
}
.menu2 li{
    list-style: none;
}
.menu2 li a{
    color: black;
    text-decoration: none;
}
