<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
    <form class="formulario1">
        <h1>Login</h1>

        <div class="contenedor1">

            

            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>
            
            <input type="submit" value="Login" class="button1">
            <p>Al registrarte, acepta las condiciones de uso y politicas de privacidad.</p>
            <p>¿No tienes cuenta?<a class="link" href="register">Registrate</a></p>
        </div>

    </form>
</main>
<footer>
    
</footer>
</body>
</html>