<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="principal">

            <input type="checkbox" id="menu">
            <label for="menu" class="icon">☰</label>
            <a href=""><i class="fas fa-shopping-cart icon"></i></a>
            <a href=""><i class="fas fa-truck icon"></i></a>

            <ul class="burger">
                <li><a href="#">Home</a></li>
                <li><a href="#">Perros</a></li>
                <li><a href="#">Gatos</a></li>
                <li><a href="#">Snack</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Higiene</a></li>
            </ul>
        </nav>
         <div class="logoo"><img src="/images/logo.png" alt="">
<img src="/images/perrosYGatos.jpg" alt="">

<form action="">
                <input type="text" name="" id="" placeholder="Buscar productos, marcas">
                <button class="button"><i class="fas fa-search icon-lupaa"></i></button>
            </form>
        </div>
        <div class="input-contenedor-g">
    </header>
    <main>
        <form class="formulario1">
            <h1>Login</h1>

            <div class="contenedor1">



                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input type="text" placeholder="Correo Electronico">
                </div>

                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" placeholder="Contraseña">
                </div>

                <input type="submit" value="Login" class="button1">
                <p>Al registrarte, acepta las condiciones de uso y politicas de privacidad.</p>
                <p>¿No tienes cuenta?<a class="link" href="register">Registrate</a></p>
            </div>

        </form>
    </main>

    <footer class="footer-f">
        <div class="footer-conte">
            <div class="row">
                <section class="footer-c">
                    <ul>
                        <li><b><a href="#">CUENTA</a></b></li>
                        <li><a href="#">Mis compras</a></li>
                        <li><a href="#">Direcciones</a></li>
                    </ul>

                </section>
                <section class="footer-c">

                    <ul>
                        <li><b><a href="#">NOSOTROS</a></b></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">contactanos</a></li>
                    </ul>
                </section>
                <section class="footer-c">

                    <ul>
                        <li><b><a href="#">PRODUCTOS</a></b></li>
                        <li><a href="#">Perros</a></li>
                        <li><a href="#">Gatos</a></li>
                        <li><a href="#">Aves</a></li>
                    </ul>
                </section>
                <section class="footer-c">

                    <ul>
                        <li><b><a href="#">ENVIOS</a></b></li>
                        <li><a href="#">Envios en 24 hs</a></li>
                        <li><a href="#">zonas de envios</a></li>
                    </ul>
                </section>
            </div>

            <section class="footer-c">
                <ul>
                    <li class="social">
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-whatsapp-square"></i></a>
                    </li>
                </ul>
            </section>

            <section class="footer-compra">
                <h3>compra 100% segura</h3>
                <img src="/images/icons-tarjetas-credito.png" alt="">
                <img src="" alt="">
            </section>

            <section>
                <p>Copyright © 2021 Patitas Felices S.A.I.C.e.I.</p>
                <p>Información Legal</p>
            </section>

        </div>
    </footer>

</body>

</html>