<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <script src="https://kit.fontawesome.com/24de549372.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
<section>
    <div>
        <span>Ingresar|Crear cuenta</span>
        <a href=""><i class="fas fa-user"></i></a>
    </div>
<img src="/images/logo.png" alt="Logo">

<img src="/images/perrosYGatos.jpg" alt="Banner">

<div>
<form action="">
    <input type="search" name="Search" placeholder="Buscar...">
    <a href=""><i class="fas fa-search"></i></a>

    <a href=""><i class="fas fa-shopping-cart"></i></a>
</form>
</div>
<div>
    <nav>
        <ul>
        <li><a href="">Productos</a> </li>
       <li><a href="">Contacto</a> </li> 
       <li><a href="">Nosotros</a></li>
    </ul>
    </nav>
</div>
</section>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>