<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patitas Felices</title>
    <script src="https://kit.fontawesome.com/24de549372.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
<section>
    <div class="Cuenta2">
        <span>Ingresar|Crear cuenta</span>
        <a href=""><i class="fas fa-user"></i></a>
    </div>

    <div class="logo2">
<img src="/images/logo.png" alt="Logo">
</div>

<div class="conteiner2">
<div class="banner2">
<img src="/images/perrosYGatos.jpg" alt="Banner">
</div>

<div class="barra-de-búsqueda2">
<form action="">
    <input type="search" name="Search" placeholder="Buscar...">
    <a href=""><i class="fas fa-search"></i></a>

    <a href=""><i class="fas fa-shopping-cart"></i></a>
</form>

</div>
</div>
<div class="menu2">
    <nav>
        <ul>
        <li><a href="">Productos</a> </li>
       <li><a href="">Contacto</a> </li> 
       <li><a href="">Nosotros</a></li>
    </ul>
    </nav>
</div>
</section>
    </header>

    <main>
<section>
    <div class="Contenedor2">
<div class="Filtrar2">
    <span>Filtrar por</span>
    <a href=""><i class="fas fa-sort-down"></i></a>
</div>

<div class="Ordenar2">
    <span>Ordenar por</span>
    <a href=""><i class="fas fa-sort-down"></i></a>
</div>
</div>

<div class="padre2">
    <h1>Buzo Monster</h1>
    <article>
        <div class="hijo2">
            <a href=""><i class="fas fa-caret-left"></i></a>
        <img src="/images/ropitaParaPerros.jpg" alt="Buzo Monster">
        <a href=""><i class="fas fa-caret-right"></i></a>
    </div>

    <div class="imagenes2">
        <img src="/images/ropa1.jpg" alt="Buzo azul">
        <img src="/images/ropa2.jpg" alt="Buzo verde">
        <img src="/images/ropa3.jpg" alt="Buzo morado">
        <img class="Medidas2" src="/images/medidasRopita.jpg" alt="Medidas buzo">
    </div>

    <div class="Caja-contenedora2">
    <div class="Descripción2">
    <h6>Precio: AR$900</h6>
    <p>Buzo Monster, indumentaria para<br>perro. Elaborado en tela liviana <br> y semi-licrada estampada. <br> Ideal para el otoño. Disponible en<br>color verde, azul y morado.</p>
</div>

<div class="botón">
<input type="button" name="Button" value="Comprar" style="background-color: var(--naranja); height: 30px; width: 80px; font-size: 15px;">
</div>
</div>

<div class="cajita2">
<a href=""><i class="fas fa-chevron-left"></i></a>
<span>Mostrando 1 de 10</span>
<a href=""><i class="fas fa-chevron-right"></i></a>
</div>
    </article>
</div>
</section>

<section>

<h3>Productos relacionados</h3> 
     <div class="box-2">
    <a href=""><i class="fas fa-caret-left"></i></a>

<div class="box2-1">
<article>
<img src="/images/buzoConCapucha.jpg" alt="Buzo polar">
<p>Buzo polar c/ capucha</p>
</article>
</div>

<div class="box2-2">
    <article>
    <img src="/images/disfrazSpiderman.jpg" alt="Disfraz Spiderman">
    <p>Disfraz Spiderman</p>
</article>
</div>

<div class="box2-3">
    <article>
    <img src="/images/ropaMarvel.jpg" alt="Canguro Marvel">
    <p>Canguro Marvel</p>
</article>
</div> 

<a href=""><i class="fas fa-caret-right"></i></a>
 </div>

 <div class="box2">
     <h3>Otras personas también vieron...</h3>
     <div class="caja-2">
        <a href=""><i class="fas fa-caret-left"></i></a>
    
    <div class="caja2-1">
        <article>
    <img src="/images/juegoLaser.jpg" alt="Juego laser">
    <p>Juguete interactivo láser</p>
</article>
    </div>
    
    <div class="box2-2">
        <article>
        <img src="/images/rascador.jpg" alt="Mueble rascador">
        <p>Mueble rascador para gatos</p>
    </article>
    </div>
    
    <div class="box2-3">
        <article>
        <img src="/images/alimentoGato.jpg" alt="Alimento para gato">
        <p>Alimento Purina Pro Plan - Gato Adulto</p>
    </article>
    </div> 
    
    <a href=""><i class="fas fa-caret-right"></i></a>
 </div>   
</section>
    </main>

    <footer>
<section>
    <div class="cajita2-0">
    </div>
    <div class="footer2">
        <div class="cuenta-2">
            <h6>Cuenta</h6>
            <p>Mis compras</p>
            <p>Direcciones</p>

            <a href=""><i class="fas fa-user-shield"></i></a>
            <a href=""><i class="fas fa-lock"></i></a>
            <a href=""><i class="fas fa-id-card"></i></a>
        </div>

        <div class="Nosotros2">
            <h6>Nosotros</h6>
            <p>Nosotros</p>
            <p>Contáctanos</p>
        </div>

        <div class="productos2">
            <h6>Productos</h6>
            <p>Perros</p>
            <p>Gatos</p>
        </div>

        <div class="Pagos">
            <h6>Pagos y Envíos</h6>
            <p>Medios de pago</p>
            <p>Zonas de envíos</p>

            <span>1130701781</span>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</section>
    </footer>
</body>
</html>